@using BindNineCore.Web.Pages
@using BindNineCore.Abstraction.Domains
@using BindNineCore.Exceptions
@inject IDomainDelete _domainDelete
@inject IToastService _toastService

  <tr>
      <td><a href="/domain/@Domain.Id">@Domain.Domain (edit)</a></td>
    <td>
        <button class="btn btn-danger" @onclick="DeleteAsync">Delete</button>
    </td>
</tr>
@code {
    [Parameter] public IDomain Domain { get; set; }
    [Parameter] public EventCallback OnRefresh { get; set; }

    private async Task DeleteAsync()
    {
        try
        {
            await _domainDelete.DeleteDomainAsync(Domain.Id);
            await OnRefresh.InvokeAsync();
            _toastService.ShowSuccess($"Domain deleted successfully.");
        }
        catch (BindNineCoreException ex)
        {
            _toastService.ShowError(ex.Message);
        }
        
    }

}