@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10" />
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        
        <div class="content">
            @Body
        </div>
    </div>
</div>