<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">bind9Nine <u>Core</u></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="domains">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Domains
            </NavLink>
        </li>
        <li class="nav-item px-5" style="text-align:center">
                <SaveChanges/>
        </li>
    </ul>
    

</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}