@using BindNineCore.Abstraction
@inject IBindApplySettings _applySettings
@inject IToastService _toastService

<button class="btn btn-warning" @onclick="ApplyChanges">Save</button>

@code {

    private async Task ApplyChanges(MouseEventArgs arg)
    {
        await _applySettings.SaveAsync();
        _toastService.ShowSuccess("Settings saved successfully to bind9.");
    }

}